In [1]:
from pathlib import Path
import pandas as pd
import pprint
import os

In [2]:
csv_stations = Path("../Resources/202212-citibike-tripdata.csv")
citibike_df1 = pd.read_csv(csv_stations,low_memory=False)
citibike_df1['started_at'] = pd.to_datetime(citibike_df1['started_at'])
citibike_df1['ended_at'] = pd.to_datetime(citibike_df1['ended_at'])
citibike_df1['start_date'] = citibike_df1['started_at'].dt.date
citibike_df1['start_time'] = citibike_df1['started_at'].dt.time
citibike_df1['ended_date'] = citibike_df1['ended_at'].dt.date
citibike_df1['ended_time'] = citibike_df1['ended_at'].dt.time
citibike_df1.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,ended_date,ended_time
0,0EF496F342AD4E7E,classic_bike,2022-12-05 17:47:32,2022-12-05 18:13:10,DeKalb Ave & Hudson Ave,4513.06,Perry St & Bleecker St,5922.07,40.689909,-73.980552,40.735354,-74.004831,member,2022-12-05,17:47:32,2022-12-05,18:13:10
1,4B9482CBC3FAC46B,classic_bike,2022-12-08 19:08:05,2022-12-08 19:20:23,E 128 St & Madison Ave,7735.23,E 142 St & 3 Ave,7781.10,40.807518,-73.939027,40.812735,-73.923697,member,2022-12-08,19:08:05,2022-12-08,19:20:23
2,59F23FEB16138E43,classic_bike,2022-12-22 19:11:48,2022-12-22 19:21:46,E 128 St & Madison Ave,7735.23,E 142 St & 3 Ave,7781.10,40.807569,-73.939101,40.812735,-73.923697,member,2022-12-22,19:11:48,2022-12-22,19:21:46
3,974F8AE1F18859F4,classic_bike,2022-12-12 08:38:09,2022-12-12 08:43:43,Driggs Ave & N Henry St,5542.04,Meserole Ave & Manhattan Ave,5666.04,40.723208,-73.943045,40.727086,-73.952991,casual,2022-12-12,08:38:09,2022-12-12,08:43:43
4,4B04C5C25EC9D6ED,classic_bike,2022-12-13 12:29:54,2022-12-13 12:36:35,3 St & 3 Ave,4028.03,Carroll St & 6 Ave,4019.06,40.675070,-73.987752,40.674089,-73.978728,member,2022-12-13,12:29:54,2022-12-13,12:36:35

In [3]:
csv_stations = Path("../Resources/202301-citibike-tripdata.csv")
citibike_df2 = pd.read_csv(csv_stations,low_memory=False)
citibike_df2['started_at'] = pd.to_datetime(citibike_df2['started_at'])
citibike_df2['ended_at'] = pd.to_datetime(citibike_df2['ended_at'])
citibike_df2['start_date'] = citibike_df2['started_at'].dt.date
citibike_df2['start_time'] = citibike_df2['started_at'].dt.time
citibike_df2['ended_date'] = citibike_df2['ended_at'].dt.date
citibike_df2['ended_time'] = citibike_df2['ended_at'].dt.time
citibike_df2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,ended_date,ended_time
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member,2023-01-26,10:53:44,2023-01-26,11:05:17
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual,2023-01-04,11:51:54,2023-01-04,12:07:09
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual,2023-01-04,17:26:48,2023-01-04,17:43:29
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member,2023-01-04,08:31:11,2023-01-04,08:42:12
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual,2023-01-03,22:15:34,2023-01-03,22:30:35

In [4]:
csv_stations = Path("../Resources/202302-citibike-tripdata.csv")
citibike_df3 = pd.read_csv(csv_stations,low_memory=False)
citibike_df3['started_at'] = pd.to_datetime(citibike_df3['started_at'])
citibike_df3['ended_at'] = pd.to_datetime(citibike_df3['ended_at'])
citibike_df3['start_date'] = citibike_df3['started_at'].dt.date
citibike_df3['start_time'] = citibike_df3['started_at'].dt.time
citibike_df3['ended_date'] = citibike_df3['ended_at'].dt.date
citibike_df3['ended_time'] = citibike_df3['ended_at'].dt.time
citibike_df3.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,ended_date,ended_time
0,16991A7C313082EB,classic_bike,2023-02-16 18:20:42,2023-02-16 18:38:06,Kosciuszko St & Nostrand Ave,4519.04,Eastern Pkwy & Troy Ave,3862.07,40.690698,-73.951423,40.669290,-73.936790,casual,2023-02-16,18:20:42,2023-02-16,18:38:06
1,856FFB566BEEB824,classic_bike,2023-02-09 17:29:36,2023-02-09 17:33:07,Riverside Dr & W 138 St,7942.21,St. Nicholas Terrace & Convent Ave,7937.15,40.823134,-73.955860,40.821294,-73.947868,member,2023-02-09,17:29:36,2023-02-09,17:33:07
2,B1FE28D50B493430,classic_bike,2023-02-16 15:33:51,2023-02-16 15:35:01,Clinton St & Tillary St,4748.07,Clark St & Henry St,4789.03,40.696233,-73.991421,40.697601,-73.993446,member,2023-02-16,15:33:51,2023-02-16,15:35:01
3,870EA3D724EA6162,classic_bike,2023-02-23 17:11:39,2023-02-23 17:12:56,Clinton St & Tillary St,4748.07,Clark St & Henry St,4789.03,40.696233,-73.991421,40.697601,-73.993446,member,2023-02-23,17:11:39,2023-02-23,17:12:56
4,7DE8FA9EAAE8C4ED,electric_bike,2023-02-18 19:29:17,2023-02-18 19:50:52,Audubon Ave & W 192 St,8469.05,St. Nicholas Terrace & Convent Ave,7937.15,40.855890,-73.927082,40.821294,-73.947868,member,2023-02-18,19:29:17,2023-02-18,19:50:52

In [6]:
df1_subset = citibike_df1.head(270000)
df2_subset = citibike_df2.head(500000)
df3_subset = citibike_df3.head(230000)

In [7]:
result_df = pd.concat([df1_subset, df2_subset, df3_subset], axis=0)
result_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,ended_date,ended_time
0,0EF496F342AD4E7E,classic_bike,2022-12-05 17:47:32,2022-12-05 18:13:10,DeKalb Ave & Hudson Ave,4513.06,Perry St & Bleecker St,5922.07,40.689909,-73.980552,40.735354,-74.004831,member,2022-12-05,17:47:32,2022-12-05,18:13:10
1,4B9482CBC3FAC46B,classic_bike,2022-12-08 19:08:05,2022-12-08 19:20:23,E 128 St & Madison Ave,7735.23,E 142 St & 3 Ave,7781.10,40.807518,-73.939027,40.812735,-73.923697,member,2022-12-08,19:08:05,2022-12-08,19:20:23
2,59F23FEB16138E43,classic_bike,2022-12-22 19:11:48,2022-12-22 19:21:46,E 128 St & Madison Ave,7735.23,E 142 St & 3 Ave,7781.10,40.807569,-73.939101,40.812735,-73.923697,member,2022-12-22,19:11:48,2022-12-22,19:21:46
3,974F8AE1F18859F4,classic_bike,2022-12-12 08:38:09,2022-12-12 08:43:43,Driggs Ave & N Henry St,5542.04,Meserole Ave & Manhattan Ave,5666.04,40.723208,-73.943045,40.727086,-73.952991,casual,2022-12-12,08:38:09,2022-12-12,08:43:43
4,4B04C5C25EC9D6ED,classic_bike,2022-12-13 12:29:54,2022-12-13 12:36:35,3 St & 3 Ave,4028.03,Carroll St & 6 Ave,4019.06,40.675070,-73.987752,40.674089,-73.978728,member,2022-12-13,12:29:54,2022-12-13,12:36:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229995,5AE3FFD5DD25F0F8,electric_bike,2023-02-10 14:32:45,2023-02-10 14:37:56,Maiden Ln & Pearl St,5065.10,Catherine St & Monroe St,5128.04,40.707065,-74.007319,40.711174,-73.996826,member,2023-02-10,14:32:45,2023-02-10,14:37:56
229996,793E916036ADD189,classic_bike,2023-02-22 13:04:11,2023-02-22 13:09:47,North Moore St & Greenwich St,5470.12,Walker St & Baxter St,5351.07,40.720195,-74.010301,40.717411,-73.999573,member,2023-02-22,13:04:11,2023-02-22,13:09:47
229997,2B058F94CFA75F63,classic_bike,2023-02-25 16:28:07,2023-02-25 16:33:33,Maiden Ln & Pearl St,5065.10,South St & Broad St,4920.13,40.707065,-74.007319,40.701889,-74.010899,member,2023-02-25,16:28:07,2023-02-25,16:33:33
229998,6BB9A966F7AA2A93,classic_bike,2023-02-02 19:25:44,2023-02-02 19:33:47,Maiden Ln & Pearl St,5065.10,Walker St & Baxter St,5351.07,40.707248,-74.006873,40.717411,-73.999573,member,2023-02-02,19:25:44,2023-02-02,19:33:47
229999,4E1B9CB0FBEDCA5C,classic_bike,2023-02-20 16:28:27,2023-02-20 16:32:42,North Moore St & Greenwich St,5470.12,Walker St & Baxter St,5351.07,40.720195,-74.010301,40.717411,-73.999573,member,2023-02-20,16:28:27,2023-02-20,16:32:42

In [8]:
result_df.reset_index(drop=True, inplace=True)
result_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,start_time,ended_date,ended_time
0,0EF496F342AD4E7E,classic_bike,2022-12-05 17:47:32,2022-12-05 18:13:10,DeKalb Ave & Hudson Ave,4513.06,Perry St & Bleecker St,5922.07,40.689909,-73.980552,40.735354,-74.004831,member,2022-12-05,17:47:32,2022-12-05,18:13:10
1,4B9482CBC3FAC46B,classic_bike,2022-12-08 19:08:05,2022-12-08 19:20:23,E 128 St & Madison Ave,7735.23,E 142 St & 3 Ave,7781.10,40.807518,-73.939027,40.812735,-73.923697,member,2022-12-08,19:08:05,2022-12-08,19:20:23
2,59F23FEB16138E43,classic_bike,2022-12-22 19:11:48,2022-12-22 19:21:46,E 128 St & Madison Ave,7735.23,E 142 St & 3 Ave,7781.10,40.807569,-73.939101,40.812735,-73.923697,member,2022-12-22,19:11:48,2022-12-22,19:21:46
3,974F8AE1F18859F4,classic_bike,2022-12-12 08:38:09,2022-12-12 08:43:43,Driggs Ave & N Henry St,5542.04,Meserole Ave & Manhattan Ave,5666.04,40.723208,-73.943045,40.727086,-73.952991,casual,2022-12-12,08:38:09,2022-12-12,08:43:43
4,4B04C5C25EC9D6ED,classic_bike,2022-12-13 12:29:54,2022-12-13 12:36:35,3 St & 3 Ave,4028.03,Carroll St & 6 Ave,4019.06,40.675070,-73.987752,40.674089,-73.978728,member,2022-12-13,12:29:54,2022-12-13,12:36:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5AE3FFD5DD25F0F8,electric_bike,2023-02-10 14:32:45,2023-02-10 14:37:56,Maiden Ln & Pearl St,5065.10,Catherine St & Monroe St,5128.04,40.707065,-74.007319,40.711174,-73.996826,member,2023-02-10,14:32:45,2023-02-10,14:37:56
999996,793E916036ADD189,classic_bike,2023-02-22 13:04:11,2023-02-22 13:09:47,North Moore St & Greenwich St,5470.12,Walker St & Baxter St,5351.07,40.720195,-74.010301,40.717411,-73.999573,member,2023-02-22,13:04:11,2023-02-22,13:09:47
999997,2B058F94CFA75F63,classic_bike,2023-02-25 16:28:07,2023-02-25 16:33:33,Maiden Ln & Pearl St,5065.10,South St & Broad St,4920.13,40.707065,-74.007319,40.701889,-74.010899,member,2023-02-25,16:28:07,2023-02-25,16:33:33
999998,6BB9A966F7AA2A93,classic_bike,2023-02-02 19:25:44,2023-02-02 19:33:47,Maiden Ln & Pearl St,5065.10,Walker St & Baxter St,5351.07,40.707248,-74.006873,40.717411,-73.999573,member,2023-02-02,19:25:44,2023-02-02,19:33:47
999999,4E1B9CB0FBEDCA5C,classic_bike,2023-02-20 16:28:27,2023-02-20 16:32:42,North Moore St & Greenwich St,5470.12,Walker St & Baxter St,5351.07,40.720195,-74.010301,40.717411,-73.999573,member,2023-02-20,16:28:27,2023-02-20,16:32:42

In [9]:
result_df.to_csv("../Resources/citibike-tripdata-merged.csv", index=False)

In [17]:
# Convert 'start_date' column to datetime format
result_df['start_date'] = pd.to_datetime(result_df['start_date'])

# Calculate total ridership for each period
total_ridership_dec = len(result_df[result_df['start_date'] < '2023-01-01'])
total_ridership_jan = len(result_df[(result_df['start_date'] >= '2023-01-01') & (result_df['start_date'] < '2023-02-01')])
total_ridership_feb = len(result_df[result_df['start_date'] >= '2023-02-01'])

# Find the difference
ridership_growth1 = ((total_ridership_jan - total_ridership_dec) / total_ridership_dec) * 100
ridership_growth2 = ((total_ridership_feb - total_ridership_jan) / total_ridership_jan) * 100

print(f'Percentage growth from December to January: {ridership_growth1:.2f}%')
print(f'Percentage growth from January to February: {ridership_growth2:.2f}%')

Percentage growth from December to January: 85.19%
Percentage growth from January to February: -54.00%